<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <div class="card text-center bg-light" id="cardProduto">
        <img
            src="assets/images/produtosImg/produto01.png"
            class="card-img-top"
        />
        <div class="card-header">
            <h5 class="card-title">Nome do Produto</h5>
        </div>
        <div class="card-body">
            <p class="card-text truncate-3l">
                Descrição do Produto: Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Nulla nec
                purus feugiat, vestibulum mi nec, ultricies
                turpis. Nulla facilisi. Nullam nec nunc nec
                nunc. Nullam nec nunc nec nunc. Nullam nec
            </p>
            <h5 class="card-title">Preço</h5>
        </div>
        <div class="card-footer">
            <form class="d-block" id="btnAdicionarCarrinho1">
                <button
                    type="button"
                    class="btn btn-warning"
                    onclick=""
                >
                    Adicionar ao Carrinho
                </button>
            </form>
            <small class="text-success">Disponivel</small>
        </div>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <div class="card text-center bg-light">
        <img
            src="assets/images/produtosImg/produto02.png"
            class="card-img-top"
        />
        <div class="card-header">
            <h5 class="card-title">Bolo Whatsapp</h5>
        </div>
        <div class="card-body">
            <p class="card-text truncate-3l">
                Descrição do Produto: Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Nulla nec
                purus feugiat, vestibulum mi nec, ultricies
                turpis. Nulla facilisi. Nullam nec nunc nec
                nunc. Nullam nec nunc nec nunc. Nullam nec
            </p>
            <h5 class="card-title">Preço</h5>
        </div>
        <div class="card-footer">
            <form class="d-block" id="btnAdicionarCarrinho2">
                <button
                    type="button"
                    class="btn btn-light"
                    onclick=""
                    disabled
                >
                    Produto Indisponível
                </button>
            </form>
            <small class="text-danger"><b>Esgotado</b></small>
        </div>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
    <div class="card text-center bg-light" id="cardProduto">
        <img
            src="assets/images/produtosImg/produto03.png"
            class="card-img-top"
        />
        <div class="card-header">
            <h5 class="card-title">Nome do Produto</h5>
        </div>
        <div class="card-body">
            <p class="card-text truncate-3l">
                Descrição do Produto: Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Nulla nec
                purus feugiat, vestibulum mi nec, ultricies
                turpis. Nulla facilisi. Nullam nec nunc nec
                nunc. Nullam nec nunc nec nunc. Nullam nec
            </p>
            <h5 class="card-title">R$12,50</h5>
        </div>
        <div class="card-footer">
            <form class="d-block" id="btnAdicionarCarrinho1">
                <button
                    type="button"
                    class="btn btn-danger"
                    onclick=""
                >
                    Remover do Carrinho
                </button>
            </form>
            <small class="text-success">Disponivel</small>
        </div>
    </div>
</div>
</div>